In [3]:
import pandas as pd
users_data=pd.read_csv("users.csv")
users_data

   user_id           name                   email      country signup_date
0        1       John Doe      john.doe@gmail.com        Kenya  2024-01-05
1        2     Jane Smith    jane_smith@yahoo.com          USA  2024-01-12
2        3     Mike Brown                     NaN           UK  2024-02-01
3        4  Alice Johnson         alice@gmail.com        Kenya  2024-02-15
4        5     Robert Lee  robert.lee@outlook.com       Canada  2024-03-01
5        6      Linda Kim     linda.kim@gmail.com  South Korea  2024-03-05
6        7   David Miller         david@gmail.com          USA  2024-03-10
7        8   Sarah Wilson         sarah@yahoo.com           UK  2024-03-15
8        9    Chris Evans         chris@gmail.com        Kenya         NaN
9       10    Emily Davis         emily@gmail.com          USA  2024-03-25